<html>
<head>
	<title>{{title}}</title>
    <script src="https://fb.me/react-with-addons-0.12.2.js"></script>
    <script src="https://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <script src="/javascripts/fixed-data-table.min.js"></script> 
    <link rel="stylesheet" href="/stylesheets/fixed-data-table-orig.css" />
</head>
<body>
    <div id="example">Loading</div>
    <div id="fundDetails">Fund Details</div>
    <script src="/javascripts/advances.js" type="text/jsx"></script>
</body>
</html>